.parent{
    padding: 25px;
    background-color: blanchedalmond;
}
.child{
    border: 2px cornsilk;
    background: rgb(0, 255, 64);
    padding: 20px;
    font-size: 18px;
    margin: 10px 0;
}